.titulo {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    height: 80px;
    width: 100%;
    background: linear-gradient(90deg, rgba(19, 45, 215, 0.907) 0%, rgba(31, 74, 243, 0.682) 16%, rgba(114, 49, 198, 0.792) 100%);/* color de fondo hover */
    color: white;
}

.contenedor_form {
    display: flex;
    columns: 2;
}